aiofiles
aiohttp
asyncio
apscheduler
beautifulsoup4
cloudscraper
deep-translator
dnspython
emojis
ffmpeg-python
flask
gpytranslate
gunicorn==22.0.0
gtts
hachoir
httpx==0.27.2
lexica-api==1.5.7
lyricsgenius
motor
pillow==11.0.0
pickledb
psutil
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
pymongo==4.9.1
python-dotenv
pyshorteners
pytube
pytz
pyyaml
requests
search_engine_parser
speedtest-cli
spotipy
tgcrypto
unidecode
urllib3
wget
qrcode
