# Core Libraries
aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gtts
lyricsgenius
motor
pymongo==4.9.1
requests
spotipy
pytube
python-dotenv
pyyaml
unidecode
pycountry
psutil
pytz
qrcode
pyfiglet
flask
gunicorn==22.0.0

# Telegram & Voice Chat
tgcrypto
ffmpeg-python
gpytranslate
async_pymongo

# Pyrogram & PyTgCalls (Voice Chat Engine)
git+https://github.com/KurimuzonAkuma/pyrogram@dev
git+https://github.com/pytgcalls/pytgcalls

# YouTube & Music
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master

# Optional Enhancers (can remove if not needed)
pyshorteners
speedtest-cli
hachoir
search_engine_parser
cloudscraper
emojis
pickledb
pycryptodome
apscheduler
